stages:
  - test
  - build
  - release
  - publish

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

test:
  stage: test
  image: rust:latest
  script:
    - cargo test
  cache:
    key: cargo-$CI_COMMIT_REF_SLUG
    paths:
      - target/
      - .cargo/registry/
  rules:
    - if: $CI_COMMIT_TAG == null

build:windows:
  stage: build
  image: rust:latest
  before_script:
    - apt-get update && apt-get install -y gcc-mingw-w64-x86-64
    - rustup target add x86_64-pc-windows-gnu
  script:
    - cargo build --target x86_64-pc-windows-gnu --release
    - mkdir -p dist
    - cp target/x86_64-pc-windows-gnu/release/clove.exe dist/clove-windows-x86_64.exe
  artifacts:
    paths:
      - dist/
  rules:
    - if: $CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+(-rc\d+)?$/

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/cli:latest
  needs:
    - job: build:windows
      artifacts: true
  before_script:
    - glab auth login --hostname $CI_SERVER_HOST --job-token $CI_JOB_TOKEN
  script:
    - |-
      glab release create "$CI_COMMIT_TAG" \
        --name "clove $CI_COMMIT_TAG" \
        --notes "Release $CI_COMMIT_TAG" \
        --use-package-registry \
        dist/clove-windows-x86_64.exe
  rules:
    - if: $CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+(-rc\d+)?$/

publish:
  stage: publish
  image: rust:latest
  dependencies: []
  before_script:
    - echo "$CARGO_REGISTRY_TOKEN" | cargo login
  script:
    - cargo publish
  rules:
    - if: $CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/
